#title{
    font-variant: small-caps;
    font-size:xx-large;
}
.not_title{
    color:white;
    font-style:bold;
}

body{
    background-image: url("images/Screenshot\ 2022-03-27\ at\ 6.25.37\ PM.png");
    background-repeat: no-repeat;
    background-size: cover;
    color:whitesmoke;
    padding: 5px 20px;
}
header{
    margin-top: 30px;
    color:lightskyblue;
}
h2{
    color:lightblue;
    font-variant: small-caps;
}
div{
    color:ghostwhite;
    font-size:0.45cm;
    width:45%;
    /* border: solid white 1px; */
    /* margin:10px; */
}

#icon{
    width:30px;
}

#osc{
    width:100px;
}
#dps{
    width:110px;
}
#dtu{
    width:110px;
}

.years{
    font-size: small;
}

.contact{
    color: white;
}